@model IEnumerable<AlquileresMVC.Models.Admin.Usuario>


@{
    Layout = "_AdminBar";
}

<h2>Lista de Usuarios</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>Teléfono</th>
            <th>DNI</th>
            <th>Fecha Nacimiento</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nombre</td>
                <td>@usuario.Apellido1</td>
                <td>@usuario.Apellido2</td>
                <td>@usuario.Telefono</td>
                <td>@usuario.DNI</td>
                <td>@usuario.FechaNacimiento.ToString("yyyy-MM-dd")</td>
                <td>@usuario.Correo</td>
                <td>
                    <a asp-controller="Usuario" asp-action="Edit" asp-route-id="@usuario.Id">Editar</a> |
                    <a asp-controller="Usuario" asp-action="Delete" asp-route-id="@usuario.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>