@model IEnumerable<AlquileresMVC.Models.Admin.Vehiculo>

<h2>Lista de Vehículos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Descripción</th>
            <th>Precio por día</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehiculo in Model)
        {
            <tr>
                <td>@vehiculo.Modelo</td>
                <td>@vehiculo.Marca</td>
                <td>@vehiculo.Descripcion</td>
                <td>@vehiculo.precioDia</td>
                <td><img src="@vehiculo.imgURL" alt="@vehiculo.Modelo" width="50" height="50" /></td>
                <td>
                    <a asp-controller="Vehiculo" asp-action="Edit" asp-route-id="@vehiculo.Id">Editar</a> |
                    <a asp-controller="Vehiculo" asp-action="Delete" asp-route-id="@vehiculo.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Agregar Nuevo Vehículo</a>
